<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>甘奈</string>
		<key>shortcut</key>
		<string>あまな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>果穂</string>
		<key>shortcut</key>
		<string>かほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>霧子</string>
		<key>shortcut</key>
		<string>きりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>恋鐘</string>
		<key>shortcut</key>
		<string>こがね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>咲耶</string>
		<key>shortcut</key>
		<string>さくや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>樹里</string>
		<key>shortcut</key>
		<string>じゅり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千雪</string>
		<key>shortcut</key>
		<string>ちゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>智代子</string>
		<key>shortcut</key>
		<string>ちよこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>甜花</string>
		<key>shortcut</key>
		<string>てんか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>灯織</string>
		<key>shortcut</key>
		<string>ひおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真乃</string>
		<key>shortcut</key>
		<string>まの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>摩美々</string>
		<key>shortcut</key>
		<string>まみみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>めぐる</string>
		<key>shortcut</key>
		<string>めぐる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>結華</string>
		<key>shortcut</key>
		<string>ゆいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>凛世</string>
		<key>shortcut</key>
		<string>りんぜ</string>
	</dict>
</array>
</plist>
