<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>茜</string>
		<key>shortcut</key>
		<string>あかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亜美</string>
		<key>shortcut</key>
		<string>あみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>歩</string>
		<key>shortcut</key>
		<string>あゆむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亜利沙</string>
		<key>shortcut</key>
		<string>ありさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杏奈</string>
		<key>shortcut</key>
		<string>あんな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊織</string>
		<key>shortcut</key>
		<string>いおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>育</string>
		<key>shortcut</key>
		<string>いく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>海美</string>
		<key>shortcut</key>
		<string>うみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>歌織</string>
		<key>shortcut</key>
		<string>かおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>可奈</string>
		<key>shortcut</key>
		<string>かな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>可憐</string>
		<key>shortcut</key>
		<string>かれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琴葉</string>
		<key>shortcut</key>
		<string>ことは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紗代子</string>
		<key>shortcut</key>
		<string>さよこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>静香</string>
		<key>shortcut</key>
		<string>しずか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>志保</string>
		<key>shortcut</key>
		<string>しほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>昴</string>
		<key>shortcut</key>
		<string>すばる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>星梨花</string>
		<key>shortcut</key>
		<string>せりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>貴音</string>
		<key>shortcut</key>
		<string>たかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>環</string>
		<key>shortcut</key>
		<string>たまき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千鶴</string>
		<key>shortcut</key>
		<string>ちづる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千早</string>
		<key>shortcut</key>
		<string>ちはや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>翼</string>
		<key>shortcut</key>
		<string>つばさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紬</string>
		<key>shortcut</key>
		<string>つむぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>朋花</string>
		<key>shortcut</key>
		<string>ともか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>奈緒</string>
		<key>shortcut</key>
		<string>なお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>のり子</string>
		<key>shortcut</key>
		<string>のりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>春香</string>
		<key>shortcut</key>
		<string>はるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>響</string>
		<key>shortcut</key>
		<string>ひびき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>風花</string>
		<key>shortcut</key>
		<string>ふうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真</string>
		<key>shortcut</key>
		<string>まこと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真美</string>
		<key>shortcut</key>
		<string>まみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美希</string>
		<key>shortcut</key>
		<string>みき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑞希</string>
		<key>shortcut</key>
		<string>みずき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美奈子</string>
		<key>shortcut</key>
		<string>みなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美也</string>
		<key>shortcut</key>
		<string>みや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>未来</string>
		<key>shortcut</key>
		<string>みらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>恵美</string>
		<key>shortcut</key>
		<string>めぐみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桃子</string>
		<key>shortcut</key>
		<string>ももこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雪歩</string>
		<key>shortcut</key>
		<string>ゆきほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>百合子</string>
		<key>shortcut</key>
		<string>ゆりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>莉緒</string>
		<key>shortcut</key>
		<string>りお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>律子</string>
		<key>shortcut</key>
		<string>りつこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>麗花</string>
		<key>shortcut</key>
		<string>れいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>路子</string>
		<key>shortcut</key>
		<string>ろこ</string>
	</dict>
</array>
</plist>
