<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>藍子</string>
		<key>shortcut</key>
		<string>あいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>愛梨</string>
		<key>shortcut</key>
		<string>あいり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>葵</string>
		<key>shortcut</key>
		<string>あおい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>茜</string>
		<key>shortcut</key>
		<string>あかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亜季</string>
		<key>shortcut</key>
		<string>あき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>晶葉</string>
		<key>shortcut</key>
		<string>あきは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亜子</string>
		<key>shortcut</key>
		<string>あこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>飛鳥</string>
		<key>shortcut</key>
		<string>あすか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>愛海</string>
		<key>shortcut</key>
		<string>あつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彩華</string>
		<key>shortcut</key>
		<string>あやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>愛結奈</string>
		<key>shortcut</key>
		<string>あゆな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亜里沙</string>
		<key>shortcut</key>
		<string>ありさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杏</string>
		<key>shortcut</key>
		<string>あんず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>泉</string>
		<key>shortcut</key>
		<string>いずみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊吹</string>
		<key>shortcut</key>
		<string>いぶき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>卯月</string>
		<key>shortcut</key>
		<string>うづき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>海</string>
		<key>shortcut</key>
		<string>うみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>恵磨</string>
		<key>shortcut</key>
		<string>えま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>笑美</string>
		<key>shortcut</key>
		<string>えみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑛梨華</string>
		<key>shortcut</key>
		<string>えりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>音葉</string>
		<key>shortcut</key>
		<string>おとは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>櫂</string>
		<key>shortcut</key>
		<string>かい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>楓</string>
		<key>shortcut</key>
		<string>かえで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>薫</string>
		<key>shortcut</key>
		<string>かおる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>茄子</string>
		<key>shortcut</key>
		<string>かこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>加奈</string>
		<key>shortcut</key>
		<string>かな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かな子</string>
		<key>shortcut</key>
		<string>かなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>奏</string>
		<key>shortcut</key>
		<string>かなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>歌鈴</string>
		<key>shortcut</key>
		<string>かりん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>加蓮</string>
		<key>shortcut</key>
		<string>かれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柑奈</string>
		<key>shortcut</key>
		<string>かんな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>響子</string>
		<key>shortcut</key>
		<string>きょうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>清美</string>
		<key>shortcut</key>
		<string>きよみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>清良</string>
		<key>shortcut</key>
		<string>きよら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>久美子</string>
		<key>shortcut</key>
		<string>くみこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小梅</string>
		<key>shortcut</key>
		<string>こうめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琴歌</string>
		<key>shortcut</key>
		<string>ことか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小春</string>
		<key>shortcut</key>
		<string>こはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紗枝</string>
		<key>shortcut</key>
		<string>さえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沙織</string>
		<key>shortcut</key>
		<string>さおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沙紀</string>
		<key>shortcut</key>
		<string>さき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>幸子</string>
		<key>shortcut</key>
		<string>さちこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>里美</string>
		<key>shortcut</key>
		<string>さとみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紗南</string>
		<key>shortcut</key>
		<string>さな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>早苗</string>
		<key>shortcut</key>
		<string>さなえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>早耶</string>
		<key>shortcut</key>
		<string>さや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沙理奈</string>
		<key>shortcut</key>
		<string>さりな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>詩織</string>
		<key>shortcut</key>
		<string>しおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>志希</string>
		<key>shortcut</key>
		<string>しき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雫</string>
		<key>shortcut</key>
		<string>しずく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>志乃</string>
		<key>shortcut</key>
		<string>しの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>忍</string>
		<key>shortcut</key>
		<string>しのぶ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>志保</string>
		<key>shortcut</key>
		<string>しほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>周子</string>
		<key>shortcut</key>
		<string>しゅうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>輝子</string>
		<key>shortcut</key>
		<string>しょうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>心</string>
		<key>shortcut</key>
		<string>しん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鈴帆</string>
		<key>shortcut</key>
		<string>すずほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>星花</string>
		<key>shortcut</key>
		<string>せいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>聖來</string>
		<key>shortcut</key>
		<string>せいら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雪菜</string>
		<key>shortcut</key>
		<string>せつな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>拓海</string>
		<key>shortcut</key>
		<string>たくみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>珠美</string>
		<key>shortcut</key>
		<string>たまみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千秋</string>
		<key>shortcut</key>
		<string>ちあき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千枝</string>
		<key>shortcut</key>
		<string>ちえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>智絵里</string>
		<key>shortcut</key>
		<string>ちえり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千佳</string>
		<key>shortcut</key>
		<string>ちか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千鶴</string>
		<key>shortcut</key>
		<string>ちづる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千夏</string>
		<key>shortcut</key>
		<string>ちなつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千奈美</string>
		<key>shortcut</key>
		<string>ちなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>椿</string>
		<key>shortcut</key>
		<string>つばき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瞳子</string>
		<key>shortcut</key>
		<string>とうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>時子</string>
		<key>shortcut</key>
		<string>ときこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>朋</string>
		<key>shortcut</key>
		<string>とも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>巴</string>
		<key>shortcut</key>
		<string>ともえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>智香</string>
		<key>shortcut</key>
		<string>ともか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>奈緒</string>
		<key>shortcut</key>
		<string>なお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渚</string>
		<key>shortcut</key>
		<string>なぎさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夏樹</string>
		<key>shortcut</key>
		<string>なつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夏美</string>
		<key>shortcut</key>
		<string>なつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>菜々</string>
		<key>shortcut</key>
		<string>なな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>七海</string>
		<key>shortcut</key>
		<string>ななみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>菜帆</string>
		<key>shortcut</key>
		<string>なほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仁奈</string>
		<key>shortcut</key>
		<string>にな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乃々</string>
		<key>shortcut</key>
		<string>のの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>法子</string>
		<key>shortcut</key>
		<string>のりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>肇</string>
		<key>shortcut</key>
		<string>はじめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蓮実</string>
		<key>shortcut</key>
		<string>はすみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>晴</string>
		<key>shortcut</key>
		<string>はる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>春菜</string>
		<key>shortcut</key>
		<string>はるな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>光</string>
		<key>shortcut</key>
		<string>ひかる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>聖</string>
		<key>shortcut</key>
		<string>ひじり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仁美</string>
		<key>shortcut</key>
		<string>ひとみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>比奈</string>
		<key>shortcut</key>
		<string>ひな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>日菜子</string>
		<key>shortcut</key>
		<string>ひなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>裕美</string>
		<key>shortcut</key>
		<string>ひろみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>風香</string>
		<key>shortcut</key>
		<string>ふうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>菲菲</string>
		<key>shortcut</key>
		<string>ふぇいふぇい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>文香</string>
		<key>shortcut</key>
		<string>ふみか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>保奈美</string>
		<key>shortcut</key>
		<string>ほなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>穂乃香</string>
		<key>shortcut</key>
		<string>ほのか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>舞</string>
		<key>shortcut</key>
		<string>まい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真奈美</string>
		<key>shortcut</key>
		<string>まなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真尋</string>
		<key>shortcut</key>
		<string>まひろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>麻理菜</string>
		<key>shortcut</key>
		<string>まりな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美羽</string>
		<key>shortcut</key>
		<string>みう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>未央</string>
		<key>shortcut</key>
		<string>みお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美嘉</string>
		<key>shortcut</key>
		<string>みか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美紗希</string>
		<key>shortcut</key>
		<string>みさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美里</string>
		<key>shortcut</key>
		<string>みさと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑞樹</string>
		<key>shortcut</key>
		<string>みずき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>翠</string>
		<key>shortcut</key>
		<string>みどり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美波</string>
		<key>shortcut</key>
		<string>みなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美穂</string>
		<key>shortcut</key>
		<string>みほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>都</string>
		<key>shortcut</key>
		<string>みやこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雅</string>
		<key>shortcut</key>
		<string>みやび</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美優</string>
		<key>shortcut</key>
		<string>みゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美由紀</string>
		<key>shortcut</key>
		<string>みゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美世</string>
		<key>shortcut</key>
		<string>みよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美玲</string>
		<key>shortcut</key>
		<string>みれい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>芽衣子</string>
		<key>shortcut</key>
		<string>めいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>惠</string>
		<key>shortcut</key>
		<string>めぐみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桃華</string>
		<key>shortcut</key>
		<string>ももか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>泰葉</string>
		<key>shortcut</key>
		<string>やすは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>唯</string>
		<key>shortcut</key>
		<string>ゆい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>優</string>
		<key>shortcut</key>
		<string>ゆう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>悠貴</string>
		<key>shortcut</key>
		<string>ゆうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>裕子</string>
		<key>shortcut</key>
		<string>ゆうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>有香</string>
		<key>shortcut</key>
		<string>ゆか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>友紀</string>
		<key>shortcut</key>
		<string>ゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雪乃</string>
		<key>shortcut</key>
		<string>ゆきの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雪美</string>
		<key>shortcut</key>
		<string>ゆきみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柚</string>
		<key>shortcut</key>
		<string>ゆず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夕美</string>
		<key>shortcut</key>
		<string>ゆみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>由愛</string>
		<key>shortcut</key>
		<string>ゆめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>由里子</string>
		<key>shortcut</key>
		<string>ゆりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>洋子</string>
		<key>shortcut</key>
		<string>ようこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>芳乃</string>
		<key>shortcut</key>
		<string>よしの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>頼子</string>
		<key>shortcut</key>
		<string>よりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蘭子</string>
		<key>shortcut</key>
		<string>らんこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>李衣菜</string>
		<key>shortcut</key>
		<string>りいな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>莉嘉</string>
		<key>shortcut</key>
		<string>りか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>梨沙</string>
		<key>shortcut</key>
		<string>りさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>里奈</string>
		<key>shortcut</key>
		<string>りな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>涼</string>
		<key>shortcut</key>
		<string>りょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>凛</string>
		<key>shortcut</key>
		<string>りん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>留美</string>
		<key>shortcut</key>
		<string>るみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>礼</string>
		<key>shortcut</key>
		<string>れい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>礼子</string>
		<key>shortcut</key>
		<string>れいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>麗奈</string>
		<key>shortcut</key>
		<string>れいな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>若葉</string>
		<key>shortcut</key>
		<string>わかば</string>
	</dict>
</array>
</plist>
