<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>愛美</string>
		<key>shortcut</key>
		<string>あいみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浅倉杏美</string>
		<key>shortcut</key>
		<string>あさくらあずみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>麻倉もも</string>
		<key>shortcut</key>
		<string>あさくらもも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>阿部里果</string>
		<key>shortcut</key>
		<string>あべりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雨宮天</string>
		<key>shortcut</key>
		<string>あまみやそら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊藤美来</string>
		<key>shortcut</key>
		<string>いとうみく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>稲川英里</string>
		<key>shortcut</key>
		<string>いながわえり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>今井麻美</string>
		<key>shortcut</key>
		<string>いまいあさみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上田麗奈</string>
		<key>shortcut</key>
		<string>うえだれいな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大関英里</string>
		<key>shortcut</key>
		<string>おおぜきえり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小笠原早紀</string>
		<key>shortcut</key>
		<string>おがさわらさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>角元明日香</string>
		<key>shortcut</key>
		<string>かくもとあすか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>郁原ゆう</string>
		<key>shortcut</key>
		<string>かはらゆう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木戸衣吹</string>
		<key>shortcut</key>
		<string>きどいぶき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桐谷蝶々</string>
		<key>shortcut</key>
		<string>きりたにちょうちょ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>釘宮理恵</string>
		<key>shortcut</key>
		<string>くぎみやりえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小岩井ことり</string>
		<key>shortcut</key>
		<string>こいわいことり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>香里有佐</string>
		<key>shortcut</key>
		<string>こうりありさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>駒形友梨</string>
		<key>shortcut</key>
		<string>こまがたゆり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>近藤唯</string>
		<key>shortcut</key>
		<string>こんどうゆい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>斎藤佑圭</string>
		<key>shortcut</key>
		<string>さいとうゆか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>下田麻美</string>
		<key>shortcut</key>
		<string>しもだあさみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>末柄里恵</string>
		<key>shortcut</key>
		<string>すえがらりえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>諏訪彩花</string>
		<key>shortcut</key>
		<string>すわあやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>たかはし智秋</string>
		<key>shortcut</key>
		<string>たかはしちあき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高橋未奈美</string>
		<key>shortcut</key>
		<string>たかはしみなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田所あずさ</string>
		<key>shortcut</key>
		<string>たどころあずさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>種田梨沙</string>
		<key>shortcut</key>
		<string>たねだりさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田村奈央</string>
		<key>shortcut</key>
		<string>たむらなお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>戸田めぐみ</string>
		<key>shortcut</key>
		<string>とだめぐみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中村温姫</string>
		<key>shortcut</key>
		<string>なかむらあつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中村繪里子</string>
		<key>shortcut</key>
		<string>なかむらえりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夏川椎菜</string>
		<key>shortcut</key>
		<string>なつかわしいな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仁後真耶子</string>
		<key>shortcut</key>
		<string>にごまやこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沼倉愛美</string>
		<key>shortcut</key>
		<string>ぬまくらまなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>野村香菜子</string>
		<key>shortcut</key>
		<string>のむらかなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>長谷川明子</string>
		<key>shortcut</key>
		<string>はせがわあきこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浜崎奈々</string>
		<key>shortcut</key>
		<string>はまさきなな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原嶋あかり</string>
		<key>shortcut</key>
		<string>はらしまあかり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原由実</string>
		<key>shortcut</key>
		<string>はらゆみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>平田宏美</string>
		<key>shortcut</key>
		<string>ひらたひろみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>平山笑美</string>
		<key>shortcut</key>
		<string>ひらやまえみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤井ゆきよ</string>
		<key>shortcut</key>
		<string>ふじいゆきよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>南早紀</string>
		<key>shortcut</key>
		<string>みなみさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>村川梨衣</string>
		<key>shortcut</key>
		<string>むらかわりえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山口立花子</string>
		<key>shortcut</key>
		<string>やまぐちりかこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山崎はるか</string>
		<key>shortcut</key>
		<string>やまざきはるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>若林直美</string>
		<key>shortcut</key>
		<string>わかばやしなおみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渡部恵子</string>
		<key>shortcut</key>
		<string>わたなべけいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渡部優衣</string>
		<key>shortcut</key>
		<string>わたなべゆい</string>
	</dict>
</array>
</plist>
