<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>大崎甘奈</string>
		<key>shortcut</key>
		<string>おおさきあまな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大崎甜花</string>
		<key>shortcut</key>
		<string>おおさきてんか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>風野灯織</string>
		<key>shortcut</key>
		<string>かざのひおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桑山千雪</string>
		<key>shortcut</key>
		<string>くわやまちゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小宮果穂</string>
		<key>shortcut</key>
		<string>こみやかほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>西城樹里</string>
		<key>shortcut</key>
		<string>さいじょうじゅり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>櫻木真乃</string>
		<key>shortcut</key>
		<string>さくらぎまの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白瀬咲耶</string>
		<key>shortcut</key>
		<string>しらせさくや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>園田智代子</string>
		<key>shortcut</key>
		<string>そのだちよこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田中摩美々</string>
		<key>shortcut</key>
		<string>たなかまみみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>月岡恋鐘</string>
		<key>shortcut</key>
		<string>つきおかこがね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>八宮めぐる</string>
		<key>shortcut</key>
		<string>はちみやめぐる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三峰結華</string>
		<key>shortcut</key>
		<string>みつみねゆいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杜野凛世</string>
		<key>shortcut</key>
		<string>もりのりんぜ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>幽谷霧子</string>
		<key>shortcut</key>
		<string>ゆうこくきりこ</string>
	</dict>
</array>
</plist>
