<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>会沢紗弥</string>
		<key>shortcut</key>
		<string>あいざわさや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藍原ことみ</string>
		<key>shortcut</key>
		<string>あいはらことみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>青木志貴</string>
		<key>shortcut</key>
		<string>あおきしき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>青木瑠璃子</string>
		<key>shortcut</key>
		<string>あおきるりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>赤﨑千夏</string>
		<key>shortcut</key>
		<string>あかさきちなつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>朝井彩加</string>
		<key>shortcut</key>
		<string>あさいあやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>飯田友子</string>
		<key>shortcut</key>
		<string>いいだゆうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>五十嵐裕美</string>
		<key>shortcut</key>
		<string>いがらしひろみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>今井麻夏</string>
		<key>shortcut</key>
		<string>いまいあさか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上坂すみれ</string>
		<key>shortcut</key>
		<string>うえさかすみれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>内田真礼</string>
		<key>shortcut</key>
		<string>うちだまあや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桜咲千依</string>
		<key>shortcut</key>
		<string>おうさきちよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大空直美</string>
		<key>shortcut</key>
		<string>おおぞらなおみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大坪由佳</string>
		<key>shortcut</key>
		<string>おおつぼゆか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大橋彩香</string>
		<key>shortcut</key>
		<string>おおはしあやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>金子真由美</string>
		<key>shortcut</key>
		<string>かねこまゆみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>金子有希</string>
		<key>shortcut</key>
		<string>かねこゆうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>嘉山未紗</string>
		<key>shortcut</key>
		<string>かやまみさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木村珠莉</string>
		<key>shortcut</key>
		<string>きむらじゅり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>久野美咲</string>
		<key>shortcut</key>
		<string>くのみさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>黒沢ともよ</string>
		<key>shortcut</key>
		<string>くろさわともよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小市眞琴</string>
		<key>shortcut</key>
		<string>こいちまこと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐藤亜美菜</string>
		<key>shortcut</key>
		<string>さとうあみな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐藤利奈</string>
		<key>shortcut</key>
		<string>さとうりな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>下地紫野</string>
		<key>shortcut</key>
		<string>しもじしの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>洲崎綾</string>
		<key>shortcut</key>
		<string>すざきあや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鈴木絵理</string>
		<key>shortcut</key>
		<string>すずきえり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鈴木みのり</string>
		<key>shortcut</key>
		<string>すずきみのり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高田憂希</string>
		<key>shortcut</key>
		<string>たかだゆうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>髙野麻美</string>
		<key>shortcut</key>
		<string>たかのあさみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高橋花林</string>
		<key>shortcut</key>
		<string>たかはしかりん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高森奈津美</string>
		<key>shortcut</key>
		<string>たかもりなつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>内匠靖明</string>
		<key>shortcut</key>
		<string>たくみやすあき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>武内駿輔</string>
		<key>shortcut</key>
		<string>たけうちしゅんすけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>竹達彩奈</string>
		<key>shortcut</key>
		<string>たけたつあやな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>武田羅梨沙多胡</string>
		<key>shortcut</key>
		<string>たけだらりさたご</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田澤茉純</string>
		<key>shortcut</key>
		<string>たざわますみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>立花理香</string>
		<key>shortcut</key>
		<string>たちばなりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田中敦子</string>
		<key>shortcut</key>
		<string>たなかあつこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田辺留依</string>
		<key>shortcut</key>
		<string>たなべるい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>種﨑敦美</string>
		<key>shortcut</key>
		<string>たねざきあつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊達朱里紗</string>
		<key>shortcut</key>
		<string>だてありさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千菅春香</string>
		<key>shortcut</key>
		<string>ちすがはるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>津田美波</string>
		<key>shortcut</key>
		<string>つだみなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>照井春佳</string>
		<key>shortcut</key>
		<string>てるいはるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>東山奈央</string>
		<key>shortcut</key>
		<string>とうやまなお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>都丸ちよ</string>
		<key>shortcut</key>
		<string>とまるちよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中島由貴</string>
		<key>shortcut</key>
		<string>なかしまゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>長島光那</string>
		<key>shortcut</key>
		<string>ながしまみな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新田ひより</string>
		<key>shortcut</key>
		<string>にったひより</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>花井美春</string>
		<key>shortcut</key>
		<string>はないみはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>花守ゆみり</string>
		<key>shortcut</key>
		<string>はなもりゆみり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>早見沙織</string>
		<key>shortcut</key>
		<string>はやみさおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原紗友里</string>
		<key>shortcut</key>
		<string>はらさゆり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原田彩楓</string>
		<key>shortcut</key>
		<string>はらださやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原田ひとみ</string>
		<key>shortcut</key>
		<string>はらだひとみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原優子</string>
		<key>shortcut</key>
		<string>はらゆうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>春瀬なつみ</string>
		<key>shortcut</key>
		<string>はるせなつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>春野ななみ</string>
		<key>shortcut</key>
		<string>はるのななみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>福原綾香</string>
		<key>shortcut</key>
		<string>ふくはらあやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤田茜</string>
		<key>shortcut</key>
		<string>ふじたあかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤本彩花</string>
		<key>shortcut</key>
		<string>ふじもとあやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渕上舞</string>
		<key>shortcut</key>
		<string>ふちがみまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>牧野由依</string>
		<key>shortcut</key>
		<string>まきのゆい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松井恵理子</string>
		<key>shortcut</key>
		<string>まついえりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松嵜麗</string>
		<key>shortcut</key>
		<string>まつざきれい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松田颯水</string>
		<key>shortcut</key>
		<string>まつださつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三宅麻理恵</string>
		<key>shortcut</key>
		<string>みやけまりえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>村中知</string>
		<key>shortcut</key>
		<string>むらなかとも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杜野まこ</string>
		<key>shortcut</key>
		<string>もりのまこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>安野希世乃</string>
		<key>shortcut</key>
		<string>やすのきよの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山下七海</string>
		<key>shortcut</key>
		<string>やましたななみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山本希望</string>
		<key>shortcut</key>
		<string>やまもとのぞみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佳村はるか</string>
		<key>shortcut</key>
		<string>よしむらはるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>米内佑希</string>
		<key>shortcut</key>
		<string>よないゆうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和氣あず未</string>
		<key>shortcut</key>
		<string>わきあずみ</string>
	</dict>
</array>
</plist>
