<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>秋月律子</string>
		<key>shortcut</key>
		<string>あきづきりつこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>天海春香</string>
		<key>shortcut</key>
		<string>あまみはるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊吹翼</string>
		<key>shortcut</key>
		<string>いぶきつばさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>エミリースチュアート</string>
		<key>shortcut</key>
		<string>えみりーすちゅあーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大神環</string>
		<key>shortcut</key>
		<string>おおがみたまき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>春日未来</string>
		<key>shortcut</key>
		<string>かすがみらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>我那覇響</string>
		<key>shortcut</key>
		<string>がなはひびき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>菊池真</string>
		<key>shortcut</key>
		<string>きくちまこと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>如月千早</string>
		<key>shortcut</key>
		<string>きさらぎちはや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>北上麗花</string>
		<key>shortcut</key>
		<string>きたかみれいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>北沢志保</string>
		<key>shortcut</key>
		<string>きたざわしほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木下ひなた</string>
		<key>shortcut</key>
		<string>きのしたひなた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高坂海美</string>
		<key>shortcut</key>
		<string>こうさかうみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桜守歌織</string>
		<key>shortcut</key>
		<string>さくらもりかおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐竹美奈子</string>
		<key>shortcut</key>
		<string>さたけみなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>四条貴音</string>
		<key>shortcut</key>
		<string>しじょうたかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>篠宮可憐</string>
		<key>shortcut</key>
		<string>しのみやかれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>島原エレナ</string>
		<key>shortcut</key>
		<string>しまばらえれな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白石紬</string>
		<key>shortcut</key>
		<string>しらいしつむぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ジュリア</string>
		<key>shortcut</key>
		<string>じゅりあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>周防桃子</string>
		<key>shortcut</key>
		<string>すおうももこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高槻やよい</string>
		<key>shortcut</key>
		<string>たかつきやよい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高山紗代子</string>
		<key>shortcut</key>
		<string>たかやまさよこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>田中琴葉</string>
		<key>shortcut</key>
		<string>たなかことは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>天空橋朋花</string>
		<key>shortcut</key>
		<string>てんくうばしともか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>徳川まつり</string>
		<key>shortcut</key>
		<string>とくがわまつり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>所恵美</string>
		<key>shortcut</key>
		<string>ところめぐみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>豊川風花</string>
		<key>shortcut</key>
		<string>とよかわふうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中谷育</string>
		<key>shortcut</key>
		<string>なかたにいく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>永吉昴</string>
		<key>shortcut</key>
		<string>ながよしすばる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>七尾百合子</string>
		<key>shortcut</key>
		<string>ななおゆりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二階堂千鶴</string>
		<key>shortcut</key>
		<string>にかいどうちづる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>野々原茜</string>
		<key>shortcut</key>
		<string>ののはらあかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>萩原雪歩</string>
		<key>shortcut</key>
		<string>はぎわらゆきほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>箱崎星梨花</string>
		<key>shortcut</key>
		<string>はこざきせりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伴田路子</string>
		<key>shortcut</key>
		<string>はんだろこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>馬場このみ</string>
		<key>shortcut</key>
		<string>ばばこのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>福田のり子</string>
		<key>shortcut</key>
		<string>ふくだのりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>双海亜美</string>
		<key>shortcut</key>
		<string>ふたみあみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>双海真美</string>
		<key>shortcut</key>
		<string>ふたみまみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>星井美希</string>
		<key>shortcut</key>
		<string>ほしいみき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>舞浜歩</string>
		<key>shortcut</key>
		<string>まいはまあゆむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真壁瑞希</string>
		<key>shortcut</key>
		<string>まかべみずき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松田亜利沙</string>
		<key>shortcut</key>
		<string>まつだありさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三浦あずさ</string>
		<key>shortcut</key>
		<string>みうらあずさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>水瀬伊織</string>
		<key>shortcut</key>
		<string>みなせいおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宮尾美也</string>
		<key>shortcut</key>
		<string>みやおみや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>最上静香</string>
		<key>shortcut</key>
		<string>もがみしずか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>望月杏奈</string>
		<key>shortcut</key>
		<string>もちづきあんな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>百瀬莉緒</string>
		<key>shortcut</key>
		<string>ももせりお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>矢吹可奈</string>
		<key>shortcut</key>
		<string>やぶきかな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>横山奈緒</string>
		<key>shortcut</key>
		<string>よこやまなお</string>
	</dict>
</array>
</plist>
