<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>相川千夏</string>
		<key>shortcut</key>
		<string>あいかわちなつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>愛野渚</string>
		<key>shortcut</key>
		<string>あいのなぎさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>相原雪乃</string>
		<key>shortcut</key>
		<string>あいはらゆきの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>相葉夕美</string>
		<key>shortcut</key>
		<string>あいばゆみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>赤城みりあ</string>
		<key>shortcut</key>
		<string>あかぎみりあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>赤西瑛梨華</string>
		<key>shortcut</key>
		<string>あかにしえりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浅野風香</string>
		<key>shortcut</key>
		<string>あさのふうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浅利七海</string>
		<key>shortcut</key>
		<string>あさりななみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アナスタシア</string>
		<key>shortcut</key>
		<string>あなすたしあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>安部菜々</string>
		<key>shortcut</key>
		<string>あべなな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>綾瀬穂乃香</string>
		<key>shortcut</key>
		<string>あやせほのか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>荒木比奈</string>
		<key>shortcut</key>
		<string>あらきひな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>有浦柑奈</string>
		<key>shortcut</key>
		<string>ありうらかんな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>安斎都</string>
		<key>shortcut</key>
		<string>あんざいみやこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>イヴ・サンタクロース</string>
		<key>shortcut</key>
		<string>いう゛さんたくろーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>五十嵐響子</string>
		<key>shortcut</key>
		<string>いがらしきょうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>池袋晶葉</string>
		<key>shortcut</key>
		<string>いけぶくろあきは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊集院惠</string>
		<key>shortcut</key>
		<string>いじゅういんめぐみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一ノ瀬志希</string>
		<key>shortcut</key>
		<string>いちのせしき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>市原仁奈</string>
		<key>shortcut</key>
		<string>いちはらにな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>今井加奈</string>
		<key>shortcut</key>
		<string>いまいかな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>井村雪菜</string>
		<key>shortcut</key>
		<string>いむらせつな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上田鈴帆</string>
		<key>shortcut</key>
		<string>うえだすずほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>氏家むつみ</string>
		<key>shortcut</key>
		<string>うじいえむつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>梅木音葉</string>
		<key>shortcut</key>
		<string>うめきおとは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>江上椿</string>
		<key>shortcut</key>
		<string>えがみつばき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>衛藤美紗希</string>
		<key>shortcut</key>
		<string>えとうみさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>海老原菜帆</string>
		<key>shortcut</key>
		<string>えびはらなほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>及川雫</string>
		<key>shortcut</key>
		<string>おいかわしずく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大石泉</string>
		<key>shortcut</key>
		<string>おおいしいずみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>太田優</string>
		<key>shortcut</key>
		<string>おおたゆう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大槻唯</string>
		<key>shortcut</key>
		<string>おおつきゆい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大西由里子</string>
		<key>shortcut</key>
		<string>おおにしゆりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大沼くるみ</string>
		<key>shortcut</key>
		<string>おおぬまくるみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大原みちる</string>
		<key>shortcut</key>
		<string>おおはらみちる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岡崎泰葉</string>
		<key>shortcut</key>
		<string>おかざきやすは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>緒方智絵里</string>
		<key>shortcut</key>
		<string>おがたちえり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>奥山沙織</string>
		<key>shortcut</key>
		<string>おくやまさおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乙倉悠貴</string>
		<key>shortcut</key>
		<string>おとくらゆうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>片桐早苗</string>
		<key>shortcut</key>
		<string>かたぎりさなえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上条春菜</string>
		<key>shortcut</key>
		<string>かみじょうはるな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>神谷奈緒</string>
		<key>shortcut</key>
		<string>かみやなお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>川島瑞樹</string>
		<key>shortcut</key>
		<string>かわしまみずき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>神崎蘭子</string>
		<key>shortcut</key>
		<string>かんざきらんこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岸辺彩華</string>
		<key>shortcut</key>
		<string>きしべあやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>北川真尋</string>
		<key>shortcut</key>
		<string>きたがわまひろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>喜多日菜子</string>
		<key>shortcut</key>
		<string>きたひなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>喜多見柚</string>
		<key>shortcut</key>
		<string>きたみゆず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木場真奈美</string>
		<key>shortcut</key>
		<string>きばまなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木村夏樹</string>
		<key>shortcut</key>
		<string>きむらなつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>キャシー・グラハム</string>
		<key>shortcut</key>
		<string>きゃしーぐらはむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桐野アヤ</string>
		<key>shortcut</key>
		<string>きりのあや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桐生つかさ</string>
		<key>shortcut</key>
		<string>きりゅうつかさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>日下部若葉</string>
		<key>shortcut</key>
		<string>くさかべわかば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>工藤忍</string>
		<key>shortcut</key>
		<string>くどうしのぶ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>クラリス</string>
		<key>shortcut</key>
		<string>くらりす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>栗原ネネ</string>
		<key>shortcut</key>
		<string>くりはらねね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>黒川千秋</string>
		<key>shortcut</key>
		<string>くろかわちあき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ケイト</string>
		<key>shortcut</key>
		<string>けいと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>古賀小春</string>
		<key>shortcut</key>
		<string>こがこはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>輿水幸子</string>
		<key>shortcut</key>
		<string>こしみずさちこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小関麗奈</string>
		<key>shortcut</key>
		<string>こせきれいな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小早川紗枝</string>
		<key>shortcut</key>
		<string>こばやかわさえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小日向美穂</string>
		<key>shortcut</key>
		<string>こひなたみほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小松伊吹</string>
		<key>shortcut</key>
		<string>こまついぶき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小室千奈美</string>
		<key>shortcut</key>
		<string>こむろちなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>西園寺琴歌</string>
		<key>shortcut</key>
		<string>さいおんじことか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>斉藤洋子</string>
		<key>shortcut</key>
		<string>さいとうようこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冴島清美</string>
		<key>shortcut</key>
		<string>さえじまきよみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>榊原里美</string>
		<key>shortcut</key>
		<string>さかきばらさとみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鷺沢文香</string>
		<key>shortcut</key>
		<string>さぎさわふみか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐久間まゆ</string>
		<key>shortcut</key>
		<string>さくままゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>櫻井桃華</string>
		<key>shortcut</key>
		<string>さくらいももか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐々木千枝</string>
		<key>shortcut</key>
		<string>ささきちえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐城雪美</string>
		<key>shortcut</key>
		<string>さじょうゆきみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐藤心</string>
		<key>shortcut</key>
		<string>さとうしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沢田麻理菜</string>
		<key>shortcut</key>
		<string>さわだまりな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>財前時子</string>
		<key>shortcut</key>
		<string>ざいぜんときこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>椎名法子</string>
		<key>shortcut</key>
		<string>しいなのりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>塩見周子</string>
		<key>shortcut</key>
		<string>しおみしゅうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>篠原礼</string>
		<key>shortcut</key>
		<string>しのはられい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渋谷凛</string>
		<key>shortcut</key>
		<string>しぶやりん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>島村卯月</string>
		<key>shortcut</key>
		<string>しまむらうづき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>首藤葵</string>
		<key>shortcut</key>
		<string>しゅとうあおい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白菊ほたる</string>
		<key>shortcut</key>
		<string>しらぎくほたる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白坂小梅</string>
		<key>shortcut</key>
		<string>しらさかこうめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>城ヶ崎美嘉</string>
		<key>shortcut</key>
		<string>じょうがさきみか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>城ヶ崎莉嘉</string>
		<key>shortcut</key>
		<string>じょうがさきりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杉坂海</string>
		<key>shortcut</key>
		<string>すぎさかうみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>涼宮星花</string>
		<key>shortcut</key>
		<string>すずみやせいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>関裕美</string>
		<key>shortcut</key>
		<string>せきひろみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瀬名詩織</string>
		<key>shortcut</key>
		<string>せなしおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仙崎恵磨</string>
		<key>shortcut</key>
		<string>せんざきえま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>相馬夏美</string>
		<key>shortcut</key>
		<string>そうまなつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高垣楓</string>
		<key>shortcut</key>
		<string>たかがきかえで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高橋礼子</string>
		<key>shortcut</key>
		<string>たかはしれいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鷹富士茄子</string>
		<key>shortcut</key>
		<string>たかふじかこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高峯のあ</string>
		<key>shortcut</key>
		<string>たかみねのあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高森藍子</string>
		<key>shortcut</key>
		<string>たかもりあいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>多田李衣菜</string>
		<key>shortcut</key>
		<string>ただりいな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>橘ありす</string>
		<key>shortcut</key>
		<string>たちばなありす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>月宮雅</string>
		<key>shortcut</key>
		<string>つきみやみやび</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>土屋亜子</string>
		<key>shortcut</key>
		<string>つちやあこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>東郷あい</string>
		<key>shortcut</key>
		<string>とうごうあい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>十時愛梨</string>
		<key>shortcut</key>
		<string>とときあいり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>道明寺歌鈴</string>
		<key>shortcut</key>
		<string>どうみょうじかりん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中野有香</string>
		<key>shortcut</key>
		<string>なかのゆか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>長富蓮実</string>
		<key>shortcut</key>
		<string>ながとみはすみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ナターリア</string>
		<key>shortcut</key>
		<string>なたーりあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>並木芽衣子</string>
		<key>shortcut</key>
		<string>なみきめいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>成宮由愛</string>
		<key>shortcut</key>
		<string>なるみやゆめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>南条光</string>
		<key>shortcut</key>
		<string>なんじょうひかる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>難波笑美</string>
		<key>shortcut</key>
		<string>なんばえみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>西川保奈美</string>
		<key>shortcut</key>
		<string>にしかわほなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>西島櫂</string>
		<key>shortcut</key>
		<string>にしじまかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新田美波</string>
		<key>shortcut</key>
		<string>にったみなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二宮飛鳥</string>
		<key>shortcut</key>
		<string>にのみやあすか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丹羽仁美</string>
		<key>shortcut</key>
		<string>にわひとみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>野々村そら</string>
		<key>shortcut</key>
		<string>ののむらそら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>服部瞳子</string>
		<key>shortcut</key>
		<string>はっとりとうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浜川愛結奈</string>
		<key>shortcut</key>
		<string>はまかわあゆな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浜口あやめ</string>
		<key>shortcut</key>
		<string>はまぐちあやめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>早坂美玲</string>
		<key>shortcut</key>
		<string>はやさかみれい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>速水奏</string>
		<key>shortcut</key>
		<string>はやみかなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>原田美世</string>
		<key>shortcut</key>
		<string>はらだみよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柊志乃</string>
		<key>shortcut</key>
		<string>ひいらぎしの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>日野茜</string>
		<key>shortcut</key>
		<string>ひのあかね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>姫川友紀</string>
		<key>shortcut</key>
		<string>ひめかわゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>兵藤レナ</string>
		<key>shortcut</key>
		<string>ひょうどうれな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>福山舞</string>
		<key>shortcut</key>
		<string>ふくやままい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤居朋</string>
		<key>shortcut</key>
		<string>ふじいとも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤本里奈</string>
		<key>shortcut</key>
		<string>ふじもとりな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤原肇</string>
		<key>shortcut</key>
		<string>ふじわらはじめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>双葉杏</string>
		<key>shortcut</key>
		<string>ふたばあんず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>古澤頼子</string>
		<key>shortcut</key>
		<string>ふるさわよりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヘレン</string>
		<key>shortcut</key>
		<string>へれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>北条加蓮</string>
		<key>shortcut</key>
		<string>ほうじょうかれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>星輝子</string>
		<key>shortcut</key>
		<string>ほししょうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>堀裕子</string>
		<key>shortcut</key>
		<string>ほりゆうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>本田未央</string>
		<key>shortcut</key>
		<string>ほんだみお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>前川みく</string>
		<key>shortcut</key>
		<string>まえかわみく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>槙原志保</string>
		<key>shortcut</key>
		<string>まきはらしほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松尾千鶴</string>
		<key>shortcut</key>
		<string>まつおちづる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松永涼</string>
		<key>shortcut</key>
		<string>まつながりょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松原早耶</string>
		<key>shortcut</key>
		<string>まつばらさや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松本沙理奈</string>
		<key>shortcut</key>
		<string>まつもとさりな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>松山久美子</string>
		<key>shortcut</key>
		<string>まつやまくみこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>的場梨沙</string>
		<key>shortcut</key>
		<string>まとばりさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>間中美里</string>
		<key>shortcut</key>
		<string>まなかみさと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真鍋いつき</string>
		<key>shortcut</key>
		<string>まなべいつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>水木聖來</string>
		<key>shortcut</key>
		<string>みずきせいら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>水野翠</string>
		<key>shortcut</key>
		<string>みずのみどり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>水本ゆかり</string>
		<key>shortcut</key>
		<string>みずもとゆかり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三船美優</string>
		<key>shortcut</key>
		<string>みふねみゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三村かな子</string>
		<key>shortcut</key>
		<string>みむらかなこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宮本フレデリカ</string>
		<key>shortcut</key>
		<string>みやもとふれでりか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三好紗南</string>
		<key>shortcut</key>
		<string>みよしさな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>向井拓海</string>
		<key>shortcut</key>
		<string>むかいたくみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>棟方愛海</string>
		<key>shortcut</key>
		<string>むなかたあつみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>村上巴</string>
		<key>shortcut</key>
		<string>むらかみともえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>村松さくら</string>
		<key>shortcut</key>
		<string>むらまつさくら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>メアリー・コクラン</string>
		<key>shortcut</key>
		<string>めありーこくらん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>持田亜里沙</string>
		<key>shortcut</key>
		<string>もちだありさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>望月聖</string>
		<key>shortcut</key>
		<string>もちづきひじり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桃井あずき</string>
		<key>shortcut</key>
		<string>ももいあずき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>森久保乃々</string>
		<key>shortcut</key>
		<string>もりくぼのの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>諸星きらり</string>
		<key>shortcut</key>
		<string>もろぼしきらり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>楊菲菲</string>
		<key>shortcut</key>
		<string>やおふぇいふぇい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>八神マキノ</string>
		<key>shortcut</key>
		<string>やがみまきの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>矢口美羽</string>
		<key>shortcut</key>
		<string>やぐちみう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柳清良</string>
		<key>shortcut</key>
		<string>やなぎきよら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柳瀬美由紀</string>
		<key>shortcut</key>
		<string>やなせみゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大和亜季</string>
		<key>shortcut</key>
		<string>やまとあき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>結城晴</string>
		<key>shortcut</key>
		<string>ゆうきはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>遊佐こずえ</string>
		<key>shortcut</key>
		<string>ゆさこずえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>横山千佳</string>
		<key>shortcut</key>
		<string>よこやまちか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>吉岡沙紀</string>
		<key>shortcut</key>
		<string>よしおかさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>依田芳乃</string>
		<key>shortcut</key>
		<string>よりたよしの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ライラ</string>
		<key>shortcut</key>
		<string>らいら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龍崎薫</string>
		<key>shortcut</key>
		<string>りゅうざきかおる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>若林智香</string>
		<key>shortcut</key>
		<string>わかばやしともか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>脇山珠美</string>
		<key>shortcut</key>
		<string>わきやまたまみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和久井留美</string>
		<key>shortcut</key>
		<string>わくいるみ</string>
	</dict>
</array>
</plist>
